body{
    background:  #e8e8e8eb;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    background: #000;

}
h1{
    color: white;
    text-align: center;
}
.content-heading-text{
    text-align: left;
}
p{
    font-size: 20px;
}
.content-box1-hobby-text{
    text-align: right;
}
img{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
footer{
    background: #000;
}
h3{
    color: white;
    font-size: 30px;
    text-align: center;
}